<template>
  <v-card
          max-width="900"
          class="mx-auto"
  >
    <v-container>
      <v-row dense>
        <v-col cols="12">
          <v-autocomplete
                  label="Sisesta ettevõtte tüüp, mida soovid luua"
                  :items="businesses"
                  :filter="customFilter"
                  item-text="name"
                  :loading="isLoading"
                  @change="search()"
                  v-model="model"
                  filled
                  rounded
          >
          </v-autocomplete>
        </v-col>

        <v-col cols="12">
          <v-card
                  style="margin-top: 10px; padding-bottom: 10px; padding-top: 25px;"
                  color="#ffffff"
                  height="auto"
                  v-bind:key="item.id" v-for="item in items"
          >
              <span style="padding-left: 4%; font-weight: 300"> {{item.label}} - EMTAK {{item.id}}</span>
            <hr width="92%" style="margin: 0 auto; margin-bottom: 20px">
            <div>
              <v-treeview
                      :items="item.items"
              >
                <template v-slot:label="{ item }">
                  <v-tooltip right>
                    <template v-slot:activator="{ on }">
                      <span color="primary" dark v-on="on">{{item.name}}</span>
                    </template>
                    <span>{{item.name}}</span>
                  </v-tooltip>
                </template>

                  <template slot="label" slot-scope="props">
                    <v-checkbox :style="{ fontWeight: props.item.fontWeight  }"
                            v-if="props.item.checkbox" :label="props.item.checkbox"
                    ></v-checkbox>
                    <span :style="{ fontWeight: props.item.fontWeight  }">{{ props.item.name }}</span>
                      <v-tooltip right>
                          <template v-slot:activator="{ on }">
                            <v-icon style="margin-left:7px;" v-if="props.item.description" v-on="on">mdi-information-outline</v-icon>
                          </template>
                          <span v-if="props.item.description">{{props.item.description}}</span>
                      </v-tooltip>
                      <a style="margin-left: 6px;" :to="props.item.to" v-if="props.item.to" :href="props.item.to" target="_blank">{{ props.item.link }}</a>
                  </template>
              </v-treeview>
            </div>
          </v-card>
        </v-col>

      </v-row>
    </v-container>
  </v-card>

</template>

<script>

  import axios from 'axios'


  export default {
    data() {
      return {
        model: null,
        businesses: [
          { name: 'Reisibüroode ja reisikorraldajate tegevus', emtak: '791', id: 1 },
          { name: 'Reisibüroode tegevus', emtak: '7911', id: 2 },
          { name: 'Reisikorraldajate tegevus', emtak: '7912', id: 3 },
        ],
        recordedText: "",
        activeFilter: "",
        isLoading: false,
        items: []
      }
    },
    methods: {
      customFilter (item, queryText) {
        const textOne = item.name.toLowerCase()
        const textTwo = item.emtak.toLowerCase()
        const searchText = queryText.toLowerCase()

        return textOne.indexOf(searchText) > -1 ||
                textTwo.indexOf(searchText) > -1
      },
      search() {
        let emtak = this.businesses.filter(value => value.name === this.model).map(value => value.emtak).join();
        //axios.get('http://localhost:8060/api/emtak/'+emtak)
        axios.get('http://51.91.253.227:8060/api/emtak/'+emtak)
                .then(res => {
                   console.log(res);
                    this.items = res.data
        }).catch(err => console.log(err))
      },

    },
  };
</script>

<style>
  .v-treeview-node__content, .v-treeview-node__label {
    flex-shrink: 1;
    white-space: inherit !important;
  }
  .v-treeview-node__root {
    height: auto;
  }
</style>
