<template>
  <v-app>
    <v-app-bar
      app
      color="#005aa3"
      dark
    >
      <div class="d-flex align-center">
        EMTAK ärinõuded

      </div>

      <v-spacer></v-spacer>

    </v-app-bar>

    <v-content>
      <Search/>
    </v-content>
  </v-app>
</template>

<script>
import Search from './components/Search';

export default {
  name: 'App',

  components: {
    Search,
  },

  data: () => ({
    //
  }),
};
</script>
